rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /carregamentos/{document} {
      allow read, write: if true;
    }
    match /filiais/{document} {
      allow read, write: if true;
    }
    match /usuarios/{document} {
      allow read, write: if true;
    }
  }
}
